@{ ViewData["Title"] = "Home Page"; }



<html>
<head>
    <link href="~/css/Style.css" rel="stylesheet" />
    <style>
        body {
            background-image: url('../images/back.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div>
        <h1>Welcome to CricZee</h1>

        <div class="right">
            Images
            <marquee>
                <img src="images/CSK.jpg" height="200" width="200" />
                <img src="images/RCB.jpg" height="200" width="200" />
                <img src="images/mi.jpg" height="200" width="200" />
                <img src="images/KXIp.jpg" height="200" width="200" />
                <img src="images/SRH.jpg" height="200" width="200" />
                <img src="images/dc.jpg" height="200" width="200" />
                <img src="images/images.jpg" height="200" width="200" />
                <img src="images/kkr.jpg" height="200" width="200" />
                

            </marquee>
        </div>
    </div>
    
</body>
</html>



